{:nrepl {:port 7002}
 :deps {:aliases [:dev]}

 :builds
 {;; browser build
  :app
  {:target           :browser
   :output-dir       "resources/public/js"
   :asset-path       "/js"
   :modules          {:app {:entries [kol.app]}}
   :devtools         {:watch-dir "resources/public"
                      :preloads  [re-frisk.preload]}
   :compiler-options {:output-feature-set :es-next}
   :dev              {:closure-defines
                      {"re_frame.trace.trace_enabled_QMARK_" true}}
   :release          {}}

  ;; frontend electron
  :render
  {:target           :browser
   :output-dir       "resources/public/js"
   :asset-path       "/js"
   :modules          {:app {:entries [kol.app]}}
   :devtools         {:watch-dir "resources/public"
                      :preloads  [re-frisk-remote.preload
                                  day8.re-frame-10x.preload]}
   :compiler-options {:output-feature-set :es-next
                      :reader-features #{:electron}}
   :js-options       {:resolve
                      {"one-dark" {:target :file
                                   :file "src/js/one-dark.js"}}}
   :dev              {:closure-defines
                      {"re_frame.trace.trace_enabled_QMARK_" true
                       day8.re-frame.tracing.trace-enabled? true
                       kol.env/DEBUG true}}
   :release          {}}

  ;; backend electron
  :main
  {:target           :node-script
   :output-to        "resources/main.js"
   :main             kol.main.core/main
   :compiler-options {:output-feature-set :es-next
                      :reader-features #{:electron}}}

  :test
  {:target    :node-test
   :output-to "target/test/test.js"
   :autorun   false}}}
