@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

@layer base {
  ::-webkit-scrollbar {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-800
           rounded-none;
  }
}

@layer utilities {
  .placeholder-block::placeholder{
    @apply 
    italic
    font-sans;
  }
  
  @variants responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px black;
    }
    .text-shadow-md {
      text-shadow: 4px 4px 8px black;
    }
    .text-shadow-lg {
      text-shadow: 15px 15px 30px black;
    }
    .text-shadow-none {
      text-shadow: none;
    }
  } 
}
